[submodule "pelican-plugins/pelican-ipynb"]
	path = pelican-plugins/pelican-ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/elegant"]
	path = themes/elegant
	url = https://github.com/Pelican-Elegant/elegant.git
